In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('Food+Service+Inspections.csv')
df.head()

,UNID,NAME,STAGE,OPNDATE,CLSDATE,STATUS,TYPE,RANKING,PBUILD,PDIR,...,EDATE,TIMEIN,TIMEOUT,TIMESP,COMM,INSPNO,CODE,REPEAT,CORRECTED,CriticalTier
0,0038583E5641B86585257C270066F583,DPR-Team Teen Program,Active,11/18/2013 12:00:00 AM,.,Permitted,Mobile Food Unit,Risk Category 1,NaN,NaN,...,6/22/2017 12:00:00 AM,12/31/1899 11:00:00 AM,12/31/1899 11:45:00 AM,0.75,"Conditions: Snow cones, cotton candy and popco...",015C8B60B2FC4F0985258192004A29B7,NaN,NO,NaN,NaN
1,0038583E5641B86585257C270066F583,DPR-Team Teen Program,Active,11/18/2013 12:00:00 AM,.,Permitted,Mobile Food Unit,Risk Category 1,NaN,NaN,...,6/27/2016 12:00:00 AM,12/31/1899 1:15:00 PM,12/31/1899 2:00:00 PM,0.75,"Mobile hand washing sink unit, fill and empty ...",8A182BFD08BBF5C285257FDF0066A303,NaN,NO,NaN,NaN
2,0038583E5641B86585257C270066F583,DPR-Team Teen Program,Active,11/18/2013 12:00:00 AM,.,Permitted,Mobile Food Unit,Risk Category 1,NaN,NaN,...,6/26/2018 12:00:00 AM,12/31/1899 9:00:00 AM,12/31/1899 9:20:00 AM,0.3333,Decal #047 BOO: Arlington Mill Community Cente...,9A24150E3B9A5EF9852582B9005234C2,NaN,NO,NaN,NaN
3,00500D38A7B20EF985257D77007137C6,Bowl'd(INACTIVE),Closed,10/20/2014 12:00:00 AM,8/1/2017 12:00:00 AM,Surrendered,Fast Food Restaurant,Risk Category 3,1028,NaN,...,3/29/2017 12:00:00 AM,12/31/1899 2:30:00 PM,12/31/1899 3:45:00 PM,1.25,NaN,555C310A12DDD22C852580F2006A2A34,4-601.11,NO,NaN,Core
4,00500D38A7B20EF985257D77007137C6,Bowl'd(INACTIVE),Closed,10/20/2014 12:00:00 AM,8/1/2017 12:00:00 AM,Surrendered,Fast Food Restaurant,Risk Category 3,1028,NaN,...,3/29/2017 12:00:00 AM,12/31/1899 2:30:00 PM,12/31/1899 3:45:00 PM,1.25,NaN,555C310A12DDD22C852580F2006A2A34,"4-602.11(B,D,E)",NO,NaN,Core

In [6]:
df.columns

Index(['UNID', 'NAME', 'STAGE', 'OPNDATE', 'CLSDATE', 'STATUS', 'TYPE',
       'RANKING', 'PBUILD', 'PDIR', 'PSTREET', 'PSTREETTYPE', 'PSTREETSUF',
       'PSUITE', 'PCITY', 'PSTATE', 'PCODE', 'ITYPE', 'EDATE', 'TIMEIN',
       'TIMEOUT', 'TIMESP', 'COMM', 'INSPNO', 'CODE', 'REPEAT', 'CORRECTED',
       'CriticalTier'],
      dtype='object')